.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: 14px;
  color: currentColor;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  padding-top: 2px;
  margin-top: -22px;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: currentColor;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.85);
  border-radius: 3px;
  padding-top: 2px;
}
